/*重新定义Html元素*/
* {margin: 0px;  padding: 0px;  border-top-width: 0px;  border-right-width: 0px;  border-bottom-width: 0px;  border-left-width: 0px; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, mg, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {  margin:0;  padding:0;  border:0;  outline:0;  font-size:100%;  vertical-align:baseline;  background:transparent; }
strong { font-weight: bold;}
ul, ol { list-style: none outside none;}
fieldset, img { border: medium none;}
caption, th {  text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}
body { font: 12px/20px Arial,Verdana,"微软雅黑","Lucida Grande","Lucida Sans Unicode",Helvetica,sans-serif; color: #333; background: #FFF none repeat scroll 0 0; min-width: 1000px;}
input, select, textarea { font: 12px/20px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
i, cite, em { font-style: normal;}
input,button,select,textarea{ outline:none}
html {min-height:101%; }
nav ul {  list-style:none;  }
blockquote, q {  quotes:none;  }
blockquote:before, blockquote:after, q:before, q:after {  content:'';  content:none;  }
/*链接*/
a {margin:0;  padding:0;  font-size:100%;  vertical-align:baseline;  background:transparent;   color: #333; text-decoration: none; outline: medium none; -webkit-transition-property:color; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
a:link, a:visited, a:active { text-decoration: none;}
a:hover { text-decoration: none;}
ins {  background-color:#ff9;  color:#000;  text-decoration:none;  }
mark {  background-color:#ff9;  color:#000;  font-style:italic;  font-weight:bold;  }
del {  text-decoration: line-through;  }
abbr[title], dfn[title] {  border-bottom:1px dotted;  cursor:help;  }
table {  border-collapse:collapse;  border-spacing:0;  }
/* change border colour to suit your needs */
hr {  display:block;  height:1px;  border:0;  border-top:1px solid #cccccc;  margin:1em 0;  padding:0;  }
input, select {  vertical-align:middle;  }
html{border: 0px;}
body {  color: #333;   cursor: default; font-size: 14px; }
/**为旧版本浏览器格式化Html5元素**/
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {  display:block;  }
.clear {  clear: both;  padding: 0px;  margin: 0px;  height: 0px;  }
#cont {  width: 100%;  height: 100%;  overflow: hidden;  position: absolute;  top: 0;  left: 0;  z-index: 70;  overflow: auto;  }
.copy {  text-shadow: #111 1px 1px 0px;  text-align: center;  padding: 10px 0px;  line-height: 150%;  }
/*app样式*/
.ff100{font-size: 0.1rem!important;}
.ff50{font-size: 0.055rem!important;}
.ff40{font-size: 0.04rem!important;}
.ff30{font-size: 0.03rem!important;}
.ff35{font-size: 0.035rem!important;}
.ff24{font-size: 0.024rem!important;}
.ff25{font-size: 0.025rem!important;}
.ff26{font-size: 0.026rem!important;}
.ff28{font-size: 0.028rem!important;}
.ff20{font-size: 0.02rem!important;}
.ff15{font-size: 0.015rem!important;}
.ff10{font-size: 0.01rem!important;}
.mml1{margin-left: 1%;}
.mml2{margin-left: 2%;}
.mml3{margin-left: 3%;}
.mml5{margin-left: 5%;}
.mml33{margin-left: 33%;}
.mml27{margin-left: 27%;}
.mm2{margin: 2%;}
.mm5{margin: 5%;}
.mmt2{margin-top: 2%;}
.mmt3{margin-top: 3%;}
.mmt5{margin-top: 5%;}
.mmt20{margin-top: 20%;}
.mmb2{margin-bottom: 2%;}
.ppt5{padding-top: 5%;}
.mmt5bgf9{height: 5%;width: 100%;background-color: #f9f9f9;}
.llhh90{line-height: 0.09rem;}
.llhh70{line-height: 0.07rem;}
.llhh50{line-height: 0.05rem;}
.llhh40{line-height: 0.04rem;}
.llhh35{line-height: 0.035rem;}
.llhh25{line-height: 0.025rem;}
.ww10{width: 10%!important;}
.ww20{width: 20%!important;}
.ww25{width: 25%!important;}
.ww30{width: 30%!important;}
.ww33{width: 33%!important;}
.ww40{width: 40%!important;}
.ww50{width: 50%!important;}
.ww58{width: 58%;}
.ww60{width: 60%;}
.ww70{width: 70%;}
.ww73{width: 72%;}
.ww75{width: 75%;}
.ww80{width: 80%;}
.ww90{width: 90%;}
.ww98{width: 98%;}
.hh80{height: 0.08rem;}
.hh120{height: 0.12rem;}
.c2e{color: #999; cursor: pointer;}
.c2e:hover{color: #c4a152}
.app_list_img{padding: 0.02rem 0.01rem;width:0.2rem; border: 0.0025rem  solid #e7e7e7;}
.app_list_img img{width:0.2rem;}
.app_list_title{  width: 80%; height: 0.035rem;  overflow: hidden;white-space: nowrap;  text-overflow: ellipsis; font-size: 0.028rem;color: #333333;font-weight: 900; }
.app_list_text{  width: 80%; height: 0.07rem;  overflow: hidden;  text-overflow: ellipsis;}
.toPay{border: 0.002rem solid red;color: #ffffff;padding: 0.03rem 0.04rem;  margin-top: 0.02rem;  display: inline-block;  border-radius: 7px;  line-height: 0;background-color: red;}
.bb3{border-bottom: 0.003rem solid #dddddd;width: 100%;}
.landmark{background: url("../images/landmark.png")no-repeat 100% 100%;width: 0.05rem; height: 0.112rem;}
.goBack{float: left;display: inline-block;  height: 0.065rem; width: 0.03rem; background: url("../images/go_bakc.png") no-repeat 100% 100%;}
.goBack2{float: left;display: inline-block;  height: 0.065rem; width: 0.05rem; background: url("../images/goBack2.png") no-repeat 100% 100%; position: absolute;top: 20px;left: 20px;}
.app_bottom{width: 30%;background-color: #c4a152;color: #ffffff;padding: 3%;margin-left: 30%;border-radius: 10px;}

    /*文字排版*/
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f18 { font-size:18px;}
.f20 { font-size:20px;}
.f24 { font-size:24px;}
.f26 { font-size:26px;}
.f30 { font-size:30px;}
.f40 { font-size:40px;}
.fb { font-weight:bold;}
.fn { font-weight:normal;}
.t15{text-indent: 1.5em;}
.t2 { text-indent:2em;}
.t150{top: 15%!important;}
.t500{top: 50%!important;}
.t600{top: 60%!important;}
.lh25 { line-height: 25px;}
.lh30 { line-height: 30px;!important;}
.lh35 { line-height: 35px;}
.lh40 { line-height: 40px;}
.lh50 { line-height: 50px;}
.lh70 { line-height: 70px;}
.lh100 { line-height:100%}
.lh150 { line-height:150%}
.lh180 { line-height:180%}
.lh200 { line-height:200%}
.lh300 { line-height:300%}
.unl { text-decoration:underline;}
.no_unl { text-decoration:none;}

/*定位*/
.tl { text-align:left !important;}
.tc { text-align:center !important; }
.tr { text-align:right !important;}
.bc { margin-right:auto ;margin-left:auto;}
.fl { float:left; display:inline;}
.fr { float:right !important; display:inline;}
.of{overflow:hidden}
.cb { clear:both;}
.cl { clear:left;}
.cr { clear:right;}
.vm { vertical-align: middle;}
.vt { vertical-align: top;}
.pr { position:relative;}
.pa { position:absolute;}
.abs-right { position:absolute; right:0;}
.zoom { zoom:1}
/*边距*/
/*整体设置宽度*/
.w{width: 100%;}
.w60{width: 60px!important;}
.w80{width: 80px;}
.w90{width: 90px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w130{width: 130px;}
.w150{width: 150px;}
.w170{width: 170px;}
.w180{width: 180px;}
.w200{width: 200px;}
.w220{width: 220px;}
.w250{width: 250px;}
.w270{width: 270px;}
.w300{width: 300px}
.w390{width: 390px}
.w330{width: 330px}
.w350{width: 350px}
.w430{width: 430px}
.w470{width: 470px}
.w500{width: 500px}
.w700{width: 700px}
.w600{width: 600px}
.w630{width: 630px}
.w550{width: 550px}
.w400{width: 400px}
.w430{width: 430px}
.w450{width: 450px}
.w700{width: 700px;}
.w730{width: 730px;}
.w750{width: 750px;}
.w760{width: 760px;}
.w800{width: 800px;}
.w1000{width: 1000px;}
.ww100{width: 100%}
.hh100{height: 100%;}
.h10{height: 10px;}
.h60{height: 60px;}
.h35{height: 35px;}
.h40{height: 40px;}
.h90{height: 90px;}
.h70{height: 70px;}
.h60{height: 60px;}
.h100{height: 100px;}
.h250{height: 250px;}
.h265{height: 265px;}
.h300{height: 300px;}
.h400{height: 400px;}
.h470{height: 470px;}
.h540{height: 540px;}
.hh100{height: 100%;}
.minh120{min-height: 120px}
.minh450{min-height: 450px}
.m0{margin: 0px auto}
.m10{margin: 10px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px}
.mt20{margin-top: 20px}
.mt25{margin-top: 25px}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt60{margin-top: 60px;}
.mt70{margin-top: 70px;}
.mt80{margin-top: 80px;}
.mt100{margin-top: 100px;}
.mt160{margin-top: 160px;}
.mt270{margin-top: 270px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.ml3{margin-left: 3px!important;}
.ml0{margin-left: 0px!important;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml35{margin-left: 35px;}
.ml40{margin-left: 40px;}
.ml60{margin-left: 60px;}
.ml80{margin-left: 80px;}
.ml100{margin-left: 100px;}
.ml110{margin-left: 110px;}
.ml160{margin-left: 160px!important;}
.ml340{margin-left: 340px!important;}
.mr50{margin-right: 50px;}
.mr80{margin-right: 80px;}
.mr130{margin-right: 130px;}
.p10{padding: 10px;}
.p15{padding: 15px;}
.pt15{padding-top: 15px}
.pt50{padding-top: 50px}
.pt60{padding-top: 60px}
.pl0{padding-left: 0px!important;}
.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}
.pl50px{padding-left: 50px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb70{padding-bottom: 70px;}
.pr20{padding-right: 20px;}

.br5{border-radius: 3px;}
/*字体颜色*/
.ftff{font-family: fantasy;}
.fc35{color: #353535}
.fc_blue{color:#369FF4; }
.fc_Orange{color: #FF9900;}
.c333{color: #333;}
.c555{color: #555;}
.c666{color: #666;}
.c999{color: #999;}
.cddd{color: #ddd;}
.cfff{color: #ffffff;}
.cred{color: red;}
.cc4{color: #c4a152}

/*圆角*/
.bdr5{border-radius: 3px;}
/*边框*/
.noborder { border-style:none!important; border-width: 0!important ;}
.br{border-right:1px solid #dddddd}
.bt{border-top:1px solid  #dddddd}
.bl{border-left:1px solid  #dddddd}
.bb{border-bottom:1px solid  #dddddd}
.border0{border: 0px solid !important;}
.border{border: 1px solid red;}
.border2{border: 1px solid ;}
.bd_Orange{border: 1px solid  #FF9900;}
.bd7_orange{border-left: 7px solid #fb7e21}
.bd_ff{border: 1px solid #FFFFFF;}
.border_blue{border: 1px solid #369FF4}
.bdb{border-bottom: 1px solid #FF9900; }
.bdfc{border: 2px solid #dcdcdc;color: #333333;}
.bde7{border: 1px solid #e7e7e7;}
.bdda{border: 1px solid #dadada;}
/*预约选卡*/
.bdc0{border: 2px solid #c0c0c0;color: #999;}
.bdc0_app{border: 2px solid #c0c0c0;color: #999;display: inline-block;  height: 0.06rem;  line-height: 0.06rem; padding: 0 0.02rem;}
.bdc4{border: 2px solid #c4a152!important;color: #333333;}
.jb_yellow{bottom: 0px;right: 0px;border: 2px solid #c4a152!important;color: #333333;background: url("../images/jiaobiao_yellow.png") no-repeat 100% 100%;}
.jb_yellow_app{display: inline-block;  height: 0.06rem;  line-height: 0.06rem; padding: 0 0.02rem;bottom: 0px;right: 0px;border: 2px solid #c4a152!important;
    color: #333333;background: url("../images/jiaobiao_app.png") no-repeat 100% 100%;}

/*背景颜色*/
.bg13{background-color: #c4a152;}
.bg_turquoise{background-color: #00CEB5}
.bg_SandyBrown{background-color: #FF7352}
.bg_Gold{background-color: #FFBB21}
.bg_PaleGreen{background-color: #62D286}
.bg_Orange{background-color: #FF9900}
.bg_Orange2{background-color: #fcb783}
.bg_DeepSkyBlue{background-color: #369FF4}
.bg_3a{background-color: #3a5f7d}
.bg_Gainsboro{background-color: #FAFAFA;}
.bgf3{background-color:#F3F3F3}
.bgf7{background-color:#f7f7f7}
.bgf9{background-color:#f9f9f9;}
.bgff{background-color:#ffffff}
.bgeff{background-color:#eff5f9}
.bgfb{background-color: #fbfbfb}
/*首页*/
body{  min-width: 1200px;}
header,#home,footer,#content,#banner,#app,#banner_box{width:100%; margin: 10px auto;}
.box{width: 1000px;margin: auto;}
.logo{display: inline-block;background: url("../images/logo.png") no-repeat;margin-top: 15px;width: 245px;height: 55px;}
.nav{text-align: center; width: 720px;  float:right;  position: relative;   z-index: 9999;}
.nav ul li{ margin-left:30px;margin-top: 20px; list-style-type: none;  float: left;  display: block; color: #444444;  font-size: 16px;  width: auto;  position: relative;  z-index: 9999;}
.nav ul li a, .nav ul li a:link {  list-style-type: none;  float: left;  display: block;  padding: 20px;  _padding: 0px;
    text-align: center;  padding-top: 19px; color: #444444;  font-size: 16px;  text-decoration: none;  position: relative;  z-index: 9999;  _width: 75px;}
.nav ul li:hover{list-style-type: none;  float: left;  display: block;  color: #d34512;  font-size: 18px;  text-decoration: none;  border-bottom: solid 3px #135481; position: relative;  z-index: 9999;}
.selected{list-style-type: none;  float: left;  display: block;  color: #d34512;  font-size: 18px;  text-decoration: none;  border-bottom: solid 3px #135481; position: relative;  z-index: 9999;}
/*轮播图star*/
/* The slider */
.iviewSlider {  overflow: hidden;  }
/* The timer in the Slider */
#iview-timer {  position: absolute;  z-index: 100;  border-radius: 5px;  cursor: pointer;  }
#iview-timer div {  border-radius: 3px;  }
/* The Preloader in the Slider */
#iview-preloader {  position: absolute;  z-index: 1000;  -webkit-border-radius: 3px;  -moz-border-radius: 3px;  border-radius: 3px;  border: #000 1px solid;  padding: 1px;  width: 100px;  height: 3px;  }
#iview-preloader div {  float: left;  -webkit-border-radius: 2px;  -moz-border-radius: 2px;  border-radius: 2px;  height: 3px;  background: #000;  width: 0px;  }
/* The strips and boxes in the Slider */
.iview-strip {  display:block;  position:absolute;  z-index:5;  }
.iview-block {  display:block;  position:absolute;  z-index:5;  }
/* Direction nav styles (e.g. Next & Prev) */
.iview-directionNav a {  position:absolute;  top:45%;  z-index:9;  cursor:pointer;  }
.iview-prevNav {  left:0px;  }
.iview-nextNav {  right:0px;  }
/* Control nav styles (e.g. 1,2,3...) */
.iview-controlNav {  position:absolute;  z-index:9;  }
.iview-controlNav a {  z-index:9;  cursor:pointer;  }
.iview-controlNav a.active {  font-weight:bold;  }
.iview-controlNav .iview-items ul {  list-style: none;  }
.iview-controlNav .iview-items ul li {  display: inline;  position: relative;  }
.iview-controlNav .iview-tooltip {  position: absolute;  }
/* The captions in the Slider */
.iview-caption {  position:absolute;  z-index:4;  overflow: hidden;  cursor: default;  }
/* The video show in the Slider */
.iview-video-show {  background: #000;  position: absolute;  width: 100%;  height: 100%;  z-index: 101;  }
.iview-video-show .iview-video-container {  position: relative;  width: 100%;  height: 100%;  }
.iview-video-show .iview-video-container a.iview-video-close {  position: absolute;  right: 10px;  top: 10px;  background: #222;  color: #FFF;  height: 20px;  width: 20px;  text-align: center;  line-height: 29px;
    font-size: 22px;  font-weight: bold;  overflow: hidden;  -webkit-border-radius: 15px;  -moz-border-radius: 15px;  border-radius: 15px;  }
.iview-video-show .iview-video-container a.iview-video-close:hover {  background: #444;  }
#iview {  display: block;  width: 100%;  height:  620px !important; background: rgba(0, 0, 0, 0.7);   position: relative;  margin: 10px auto;  }
#iview .iviewSlider {  display: block;  width: 100%;  height: 620px;padding-bottom: 20px;  overflow: hidden;  }
.iview-controlNav {  position: absolute;  bottom: 20px;  left: 45%;  height: 44px;  }
.iview-controlNav a {  text-indent: -9999px;  }
.iview-controlNav a.iview-controlPrevNav {  float: left;  width: 50px;  height: 44px;  background: url('../images/slider-controls.png') no-repeat;  }
.iview-controlNav a.iview-controlNextNav { float: left;  width: 50px;  height: 44px;  background: url('../images/slider-controls.png') no-repeat -50px 0px;  }
.iview-controlNav div.iview-items {  float: left;  padding: 0px 10px 0px 10px;  height: 44px;  background: url('../images/nav-bg.png');  }
.iview-controlNav a.iview-control {  padding: 0px;  float: left;  width: 11px;  height: 12px;  background: url('../images/bullets.png') no-repeat;  line-height: 0px;  }
.iview-controlNav a.iview-control.active { background-position: 0px -12px;  }
.iview-caption {    color: #FFF;    padding: 10px 15px;  font-family: Verdana;  font-size: 12px; text-shadow: #000 1px 1px 0px;  }
.iview-caption.caption1 {  font-size: 36px;  font-weight: bold;  height: 45px;  }
.iview-caption.caption2 {  background: #00b4ff;  font-size: 36px;  font-weight: bold;  text-shadow: none;  }
.iview-caption.caption3 {  background: #FFF;  color: #000;  font-size: 26px;  text-shadow: none;  }
.iview-caption.caption4 {  font-size: 22px;  font-weight: bold;  }
.iview-caption.caption5 {  background: #c4302b;  box-shadow: rgba(0, 0, 0, 0.7) 10px 10px 15px 0px; font-size: 20px;  font-weight: bold;  text-shadow: none;  }
.iview-caption.caption6 {  font-size: 18px;  }
.iview-caption.caption7 {  text-align: left;  font-size: 11px;  color: #888;  border-radius: 0px;  }
.iview-caption.caption7 div {  line-height: 200%;  }
.iview-caption.caption7 h3 { margin-bottom: 20px;  color: #FFF; }
.iview-caption.blackcaption {  text-shadow: none;  }
#iview-preloader {  border: #666 1px solid;  width: 150px  }
#iview-preloader div {background: #666;  }
.iview-controlNav div.iview-items ul li {  padding: 0px;  float: left;  width: 11px;  height: 12px;  margin: 3px;  margin-top: 16px;  line-height: 0px;  }
#iview #iview-tooltip {  display: none;  position: absolute;  background: url('../images/tooltip.png') no-repeat;  width: 124px;  height: 90px;  bottom: 30px;  left: -67px;  padding: 10px; z-index: 100;  }
#iview #iview-tooltip div.holder {  display: block;  width: 124px;  height: 84px;  overflow: hidden;  border-radius: 2px;  }
#iview #iview-tooltip div.holder div.container {  display: block;  width: 4000px;  }
#iview #iview-tooltip div.holder div.container div {  float: left;  display: block;  overflow: hidden;  width: 124px;  height: 84px;  left: -50%;  text-align: center;  }
#iview #iview-tooltip div.holder div.container div img {  height: 84px;  margin: 0 auto;  }
.banner1{background: url("../images/banner1.png") no-repeat; width: 526px;height: 246px;}
.banner11{background: url("../images/index.png") no-repeat; width: 324px;height: 559px;background-size: 100% 100%;}
.banner12{background: url("../images/app01.png") no-repeat;width: 160px;height: 189px; background-size: 100% 100%;}
.banner2{background: url("../images/banner2.png") no-repeat; width: 537px;height: 146px;}
.banner3{background: url("../images/banner3.png") no-repeat;width: 583px;height: 153px;}
.banner4{background: url("../images/banner4.png") no-repeat;width: 613px;height: 171px;background-size: 100% 100%;}
/*轮播图stop*/
#home .main1{width:1000px;height: 400px;margin: auto;}
#home .main1 ul{width: 100%;text-align: center}
#home .main1 ul li img{width: 60px;height: 60px;}
#home .main1 ul li a{display: inline-block; width: 118px;height: 38px; border: 1px solid #FB7E21;border-radius:5px;color: #FB7E21;line-height: 38px; margin-top:25px; }
#home .main1 ul li,#home .main2 ul li{width: 33.3%;text-align: center;}
#home .main2{width: 100%;height:500px;background:url("../images/1.jpg")}
#home .main2>div{width:1000px;height: 500px;margin:auto;color: #FFFFFF;}
#home .main2 ul li{margin-top: 30px;}
#home .main2 ul li div{width: 311px; height: 200px;text-align: center;}
/*商户入驻*/
#settled #content #banner_box{background: url("../images/photo2.jpg")!important;background-size: 100% 100%;min-width: 1000px;height: 620px;}
#settled #banner_box .selected_banner{background-image: url("../images/jr_banner.png");background-size: 100% 100%;width: 429px;height: 194px;left:30px;top: 132px; }
#settled #banner_box .selected_banner_sh{background-image: url("../images/jr_sh.png");background-size: 100% 100%;width: 262px;height: 262px;left:230px;top: 132px; }
#settled #banner_box .selected_banner_sh>a{display: block;background-image: url("../images/btn_jr.png");background-size:100% 100%;width: 150px;height: 53px;left:60px;bottom: 30px;}

#settled #content .selected_one,#settled #content .selected_tow{width: 1000px;height: 431px;margin: 0px auto }
#settled #content .selected_one .btx,#settled #content .selected_tow .btx{background-image: url("../images/btx.png");background-size: 100% 100%;width: 583px;height: 5px;margin: 20px auto;}
#settled #content .selected_one .reason ul li{float: left;border: 1px solid #999;}
#settled #content .selected_one .reason ul li div{text-align: center;line-height: 20px;}
#settled #content .selected_one .reason ul li div b{font-size: 20px;font-weight: 600;display: block;margin-bottom: 10px;margin-top: 30px;}
#settled #content .selected_one .reason ul li div p{font-size: 14px;color: #666;}

#settled #content .selected_tow .reason ul li{float: left;}
#settled #content .selected_three{width: 1000px;height: 60px;margin: 0px auto }
#settled #content .selected_three a {display: block;background-image: url("../images/btn_jr2.png");  -webkit-background-size:100% 100%;  background-size:100% 100%;width: 200px;height: 54px;margin: 0px auto;}


/*填写信息*/

#date #content .date_2{ font-size: 14px;color: #666;}
#date #content .date_2 .date_left{float: left;}
#date #content .date_2 .date_left li{text-align: right; width: 70px;line-height: 50px;}
#date #content .date_2 .date_left li span{color: #fb0606;}
#date #content .date_2 .date_right {float:left;line-height: 50px;}
#date #content .date_2 .date_right li input{width: 275px;height: 28px; border:1px solid #999;margin-left: 10px;padding-left: 10px;}

#done #content {width: 1000px;height: 431px;margin: 0px auto;}
#done #content .done_2{width: 589px;height: 250px; line-height: 200px; margin: 0px auto; font-size: 30px;color: #333;text-align: center;}
#done #content .done_3{width: 100%;height: 80px;line-height: 80px;background-color:#fbf7db;font-size:18px;color: #b28850;  }
.done_footer{margin-top: 100px;}
.din{display: none!important;}
.dip{display: inline-block!important;}
/*app*/
#app #content #banner_box{background: url("../images/appbanner.jpg")!important;background-size: 100% 100%;min-width: 1000px;height: 620px;}
#app #banner_box .app_banner{background-image: url("../images/app.png");background-size: 100% 100%;width: 493px;height: 558px;left:0px;top: 132px; }
#app .app_text{background-image: url("../images/app_text.png");background-size: 100% 100%;width: 425px;height: 173px;margin-top: 140px;}
#app .app01{background-image: url("../images/app01.png");background-size: 100% 100%; width: 160px;height: 190px;}
#app .one_box,#app .tow_box{width: 1000px;height: 700px;margin: 0px auto}
#app .tow{background-image:url("../images/app_bg.png")}
/*产品介绍*/
#presentation .one,#presentation .tow{width: 1000px;height: 460px; margin: auto;}
#contact {width: 1000px; margin: auto;}
.leftNav ul li{margin-top: 3px;}
.leftNav ul li a, .leftNav ul li a:link {  list-style-type: none; display: block;
    text-align: center; color: #333;  font-size: 16px;  text-decoration: none;  position: relative;  z-index: 9999;}
.leftNav ul li:hover{background-color: #FFFFFF;list-style-type: none; display: block; font-size: 18px;  text-decoration: none;  border-left: solid 3px #FB7E21; position: relative;  z-index: 9999;}
.leftNav ul li a:hover{  color: #ff4a00; }
.selected2{background-color: #FFFFFF; list-style-type: none;display: block;  color:#ff4a00;  font-size: 18px;  text-decoration: none;  border-left: solid 3px #FB7E21; position: relative;  z-index: 9999;}
footer{height: 100px;width:1000px; line-height: 100px; color: #999;}

.btn_yz {  background-color: #c4a152;  border: 0px solid #d2d2d2;  color: #fff;border-radius: 3px;-moz-border-radius: 3px;   width: 100px!important;  text-align: center;  margin-left: 5px;  }
.btn_yz:hover {  background-color: #c8c8c8;  }
.cp {  cursor: pointer;  }
.error_no{color: red;width: 20px;display: inline-block;background: url("../images/x.png") no-repeat ;height: 15px;margin-left: 10px;  }
.correct {  color: #00ee00;background: url("../images/hc.png") no-repeat ;width: 20px;height: 15px;display: inline-block;margin-left: 10px}
.minus,.addition{width: 30px!important;height: 30px!important;display: inline-block;}
.numbers{display: inline-block;width: 60px;height: 30px;border: 1px solid #666;text-align: center;line-height: 28px;}
.list{width: 100%; }
.list span { margin-left: 10px; cursor:pointer; padding: 0px 5px; display: inline-block;}
/*立即支付*/
.info{width: 80px;height: 36px;line-height: 36px;background-color: #f15353;color: #ffffff;border-radius: 5px;display: inline-block; text-align: center;}
.info2{width: 80px;height: 36px;line-height: 36px;background-color: #c4a152;color: #ffffff;border-radius: 5px;display: inline-block; text-align: center;}
.info:hover{background-color:#c4a152;}
.info2:hover{background-color:#a9873a;}

/*许愿*/
.wish_list p{line-height:25px;margin-left:20px;  }
.wish_list p input{margin-left: 15px;margin-right: 7px;}
.wish_click{color: #fff;width: 80px;height: 30px;border-radius: 3px;line-height: 30px;text-align: center;background-color: #0583bd;margin-left: 48%;margin-top: 20px;}
.wish_click:hover{background-color:#00aeff ;}
.wish_app_click{color: #fff;width: 0.2rem;height: 0.05rem;border-radius: 3px;line-height: 0.05rem;text-align: center;margin-left: 40%; background-color: #0583bd;margin-top: 20px;}


.mui-checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 0.025rem;
    height:0.025rem;
    margin-right: 10px;
    background-color: #FFFFFF;
    border: solid 2px #d9d9d9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: padding-box;
    display: inline-block; }
.mui-checkbox:checked {
    background-color: #18b4ed;
    border: solid 1px #FFFFFF; }




