<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragment/layout}">
<head>
<title>货位推荐</title>
</head>
<body layout:fragment="content">
	<div>
        <div>
            <div class="navbar-form">
                <div class="form-group row">
                    <label>货位类型:</label>
                    <select class="form-control" id="cargoLocationTypeId" name="cargoLocationTypeId" style="width: 100px;">
                    	<option value="">请选择</option>
                    </select>
                    <label>物料编号:</label>
                    <input type="text" class="form-control" name="code" style="width: 120px;">
                    <label>货位预留(%):</label>
                    <input type="text" class="form-control" name="reservePercentage" style="width: 100px;">
                    <label>Fast mover差异设置值:</label>
                    <input type="text" class="form-control" name="fast" style="width: 100px;">
                    <label>Slower mover差异设置值:</label>
                    <input type="text" class="form-control" name="slower" style="width: 100px;">
                    <!-- 
                    <label>Optimization Recommendation:</label>
                    <select class="form-control" name="cargoLocationTypeId" style="width: 100px;">
                    	<option value="">请选择</option>
                    	<option value="1">fast mover</option>
                    	<option value="2">slow mover</option>
                    	<option value="3">新物料</option>
                    </select>
                     -->
                    <span sec:authorize="hasAuthority('CARGO_LOCATION_RECOMMEND_QUERY')">
                    	<button id="queryBut" type="button" class="btn btn-default single">
                        	<span class="glyphicon glyphicon-search"></span>
                    	</button>
                    </span>
                </div>
                <div class="form-group pull-right">
                	<span sec:authorize="hasAuthority('CARGO_LOCATION_RECOMMEND_IMPORT')">
                		<button type="button" class="btn btn-default single" data-toggle="modal"
	                            data-target="#importMaterialFreqModal">导入拣货频率
	                	</button>
	                </span>
                    <span sec:authorize="hasAuthority('CARGO_LOCATION_RECOMMEND_EXPORT')">
	                    <button id="exportBut" type="button" class="btn btn-default single">导出</button>
                    </span>
                    <span sec:authorize="hasAuthority('CARGO_LOCATION_RECOMMEND_CHART')">
	                	<button id="chartBut" type="button" class="btn btn-default single">图表</button>
                    </span>
                </div>
            </div>
            <table class="table">
                <thead>
	                <tr>
	                    <th>序号</th>
	                    <th>物料编号</th>
	                    <th>货位</th>
	                    <!-- 
	                    <th>货位类型</th>
	                     -->
	                    <th>拣货频率</th>
	                    <th>原货位分值</th>
	                    <th>推荐货位</th>
	                    <th>推荐货位分值</th>
	                    <th>Optimization Recommendation</th>
	                </tr>
                </thead>
                <tbody id="materialList"></tbody>
            </table>
            <div id="pagination"></div>
        </div>

		<!-- 导入物料拣货频率 -->
        <div class="modal fade" id="importMaterialFreqModal" tabindex="-1" role="dialog"
             aria-labelledby="importMaterialFreqModalLabel">
			<div class="modal-dialog" role="document" style="width: 800px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
                        <h4 class="modal-title" id="importMaterialFreqModal">导入物料拣货频率</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-danger alert-dismissible fade in" role="alert" style="display: none">
                    		<h4 id="importError"></h4>
                		</div>
                        <form class="form-horizontal" th:action="@{/cargo-location-recommend/import}">
							<div class="form-group">
								<label class="col-sm-3 control-label text-right">导入文件:</label>
								<div class="col-sm-6">
                                    <input type="file" class="form-control" name="file"/>
								</div>
								<label class="col-sm-3 control-label text-left"><a href="/importTemplate/导入拣货频率模版.xlsx">拣货频率模版下载</a></label>
							</div>
                        </form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确定</button>
					</div>
				</div>
			</div>
        </div>
        <!-- 图表 -->
        <div class="modal fade" id="chartModal" tabindex="-1" role="dialog"
             aria-labelledby="chartModalLabel">
			<div class="modal-dialog" role="document" style="width: 900px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
                        <h4 class="modal-title" id="chartModalLabel">Storage Location Optimization Analysis</h4>
					</div>
					<div class="modal-body">
                        <div id="main" style="width: 800px;height:450px;"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
        </div>
    </div>
    <!-- 自定义JavaScript -->
    <script src="/static/js/cargoLocationRecommend.js" th:src="@{/js/cargoLocationRecommend.js}"></script>
</body>
</html>