<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragment/layout}">
<head>
    <title>用户登录</title>

</head>
<body layout:fragment="content">
<form class="form-signin" th:href="@{/login}" method="post">
    <h2 class="form-signin-heading" style="text-align:center;">登录</h2>
    <label for="username" class="sr-only">工号：</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="请输入您的工号" required=""
           autofocus="">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="请输入您的密码" required="" style="margin-top:10px;">
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
</form>
</body>
</html>